// секции Hero, header, Products, About, Advantages используют этот контейнер
.container-top {
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;

  @media screen and ( min-width: $mobile ) {
    max-width: 100vw;
  }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding: 0 32px;
  }

  @media screen and (min-width: $comp) {
    max-width: $comp;
    padding: 0 16px;
  }
}

// секции Customer Reviews, Contacts, Footer используют этот контейнер
.container-bottom {
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;

  @media (min-width: $mobile) {
    max-width: 100vw;
  }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding: 0 16px;
  }

  @media screen and (min-width: $comp) {
    max-width: $comp;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}