
.customer-reviews__img {
  margin: auto;
  margin-bottom: 32px;

 

 

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $comp) {
    max-width: $comp;
    margin-bottom: 16px;
        
  }
}
 .customer-reviews__img:hover {
   transition: transform 0.25s;
    transform: scale(1.1);
 }
.customer-reviews__text {

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(31 / 12);
  /* or 31px */
  text-align: center;

  letter-spacing: 0.04em;

  position: relative;
  z-index: 4;

  background-image: repeating-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 28px, #e1e1e1 29px, #e1e1e1 30px);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    font-size: 14px;
    line-height: calc(30 / 14);
  }

  @media screen and (min-width: $comp) {
    max-width: $comp;
    font-size: 16px;
    line-height: calc(30 / 16);
  }

}

.customer-reviews__quotes {
  position: absolute;
    top: 30px;
    left: 24px;
    z-index: 1;
  
    fill: var(--reviews-bg);
    width: 54px;
    height: 40px;

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    left: 21px;
  }

  @media screen and (min-width: $comp) {
    max-width: $comp;
    left: 69px;
  }
}

.customer-reviews__block {
  position: relative;
  background-color: #FAFAFA;

  padding: 43px 58px 16px 65px;
    @media screen and (min-width: $comp) {
        padding: 47px 109px 39px 109px;
}
}

.customer-reviews__dots {
  display: flex;
  width: 32px;
  height: 4px;
  margin: 16px auto;
  fill: #C7133E;
}

.customer-reviews__name {
  text-align: center;
  margin-bottom: 16px;
}

 li.slick-active:first-child button {
  width: 13px;
  height: 12px;
  background: url(../images/icons/house.svg) 50% no-repeat;
  padding-top: 8px;
}
li.slick-active:nth-child(2) button {
  width: 13px;
  height: 12px;
  background: url(../images/icons/house.svg) 50% no-repeat;
  padding-top: 8px;

}
li.slick-active:nth-child(3) button {
  width: 13px;
  height: 12px;
  background: url(../images/icons/house.svg) 50% no-repeat;
  padding-top: 8px;

}

